@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --font-inter: "Inter", sans-serif;
  --font-optical-sizing: auto;
  --font-style: normal;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate360 0.5s ease-in-out;
}

@import "tailwindcss";
